.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index:2;
}
.modal {
    width: 60vw;
    height: 40vh;
    background-color: #fff;
    margin: 0;
    position: fixed;
    margin-top: 20vh;
    margin-left: 10vw;
    display: none;
    z-index: 3;
}
.headerModal{
    background-color: #474971;
    width: 100%;
    height: 8vh;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.identificacaoModal {
    margin-left: 2vw;
    align-items: center;
    width: calc(100% - 4vw);
    height: 8vh;
    margin-top: 2vh;
}
.tituloModal{
    width: 70%;
    height: 4vh;
    font-weight: bold;
    color: white;
    font-size: 25px;
}
.usuarioModal{
    color: #CEDC39;
    font-weight: bold;
    font-size: 25px;
}
.fechaModal {
    width: 2vw;
    height: 2vh;
    font-size: 20px;
    font-weight: bold;
    margin-right: 1vw;
}
.bodyModal {
    display: flex;
    align-items: center;
    justify-items: center; 
    flex-direction: column;
}
.cartoes {
    margin: 2vh 0 2vh;
    width: 34vw;
    height: 3vh;
    border-radius: 3px;
    border-width: 1px;
    border-color: E0E0DF;
}
.valor {
    margin-top: 5vh;
    width: 35vw;
    height: 2.5vh;
    border-radius: 3px;
    border-width: 1px;
    border-color: E0E0DF;
}
.botaoPagarModal{
    width: 10vw;
    height: 2.5vh;
    border-radius: 3px;
    border-width: 0.5px;
    background-color: #EFEFEF;
    border-color: E0E0DF;
}
.listaUsuario {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    color: #fff;
    align-items: center;
    justify-items: center;
}
.campoUsuario{
    width: 80vw;
    height: 20vh;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
    display: flex;
    background: linear-gradient(180deg, rgba(57,58,94,1) 0%, rgba(40,42,63,1) 100%);
    z-index: 1;
    align-items: center;
}
.informacoesUsuario {
    justify-items: center;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.imagem {
    margin-top: 1vh;
    margin-left: 15px;
    border-radius: 50%;
    height: 128px;
    width: 128px;
    padding-top: 15px;
    justify-content: left;
}

.name {
    margin-top: 2vh;
    width: 100%;
    height: 40px;
    list-style: none;
    font-size: 25px;
}

.id {
    height: 40px;
    list-style: none;
    font-size: 20px;
}

.botaoPagar {
    width: 80px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border-width: 1px;
    background-color: #EFEFEF;
    border-color: E0E0DF;
    margin-left: 3vw;
}
.modalPagamento {
    width: 80vw;
    height: 30vh;
    background-color: #fff;
    margin: 0;
    position: fixed;
    margin-top: 20vh;
    display: none;
    z-index: 4;
}
.headerModalPagamento{
    background-color: #474971;
    width: 100%;
    height: 6vh;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.reciboPagamento{
    width: 70%;
    height: 3vh;
    font-weight: bold;
    color: white;
    font-size: 25px;
    margin-left: 2vw;
    margin-top: 1vh;
    width: calc(100% - 4vw);
}
.fechaModalPagamento{
    width: 2vw;
    height: 2vh;
    font-size: 20px;
    font-weight: bold;
    margin-right: 1vw;
}
.mensagemRecibo{
    width: 100%;
    height: calc(100% - 6vh);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
}
.resultRecibo{
    font-weight: 900;
}